/*! Lightning Design System 2.11.8 */
@charset "UTF-8";
.slds-global-header__notification {
  border-bottom: 1px solid #dddbda;
  padding: 0.25rem;
}
.slds-global-header__notification_unread {
  background-color: #ecebea;
}
.slds-global-header__notification:hover {
  background-color: #f3f2f2;
}
.slds-global-header__notification:last-child {
  border-bottom: 0;
}
