/*! Lightning Design System 2.11.8 */
@charset "UTF-8";
.slds-progress-bar {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  height: 0.5rem;
  background: #dddbda;
  border: 0;
  position: relative;
}
.slds-progress-bar_x-small {
  height: 0.125rem;
}
.slds-progress-bar_small {
  height: 0.25rem;
}
.slds-progress-bar_medium {
  height: 0.5rem;
}
.slds-progress-bar_large {
  height: 0.75rem;
}
.slds-progress-bar_circular {
  border-radius: 0.5rem;
}
.slds-progress-bar_circular .slds-progress-bar__value {
  border-radius: 0.5rem;
}
.slds-progress-bar__value {
  display: block;
  background: #5eb4ff;
  height: 100%;
}
.slds-progress-bar__value_success {
  background: #4bca81;
}
