# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore

# Salesforce cache
.sfdx/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
.classpath

# Eslint cache
.eslintcache

# LWC Jest coverage reports
coverage/

# LWC Playground
dist/
c/

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio Code IDE
.vscode/

# IlluminatedCloud IDE
*.iml
.idea/
IlluminatedCloud/

# GitIgnore for Salesforce Projects
# Project Settings and MetaData
.project
.settings/
.metadata
.salesforce
build.properties

# Apex Log as optional
apex-scripts/log

# Eclipse specific 
salesforce.schema
Referenced Packages
bin/
tmp/
*.tmp
*.bak 
local.properties
.settings
.loadpath
.classpath
*.cache

# Mavensmate
*.sublime-project
*.sublime-settings
*.sublime-workspace
mm.log

# Haoide SublimeText
.config
.deploy
.history

# OSX-specific exclusions
.[dD][sS]_[sS]tore

# The Welkin Suite specific
**/.localHistory

# LWC
**/jsconfig.json

# Other
*.sfuo
.tern-project
TestCache.xml
TestsResultsCache.xml

tests/
_site/

# direnv
.envrc