/*! Lightning Design System 2.11.8 */
@charset "UTF-8";
.slds-path__nav .slds-is-current:first-child .slds-path__link {
  height: calc(2.75rem - 0.25rem);
}
.slds-path__nav .slds-is-active:first-child .slds-path__link {
  height: 2.75rem;
}

.slds-path__item {
  margin-left: 0.5rem;
  margin-right: 0.5625rem;
}
.slds-path__item:before,
.slds-path__item:after {
  left: -0.3125rem;
  right: -0.375rem;
}
.slds-path__item:before {
  height: calc((2.75rem / 2) + 0.0625rem);
}
.slds-path__item:after {
  height: 1.375rem;
}
.slds-path__item:first-child:before,
.slds-path__item:first-child:after {
  left: 1.625rem;
}
.slds-path__item:last-child:before,
.slds-path__item:last-child:after {
  right: 1.125rem;
}

.slds-path__link {
  height: 2.75rem;
}
