/*! Lightning Design System 2.11.8 */
@charset "UTF-8";
.slds-form-element__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 2rem;
  padding-top: 0;
  margin-bottom: 0;
  font-size: 0.875rem;
}

.slds-form-element__label + .slds-form-element__icon .slds-button_icon {
  height: 2rem;
}

.slds-form-element__icon {
  padding-top: 0;
}

.slds-form-element_edit .slds-form-element__static {
  width: calc(100% - 2.75rem);
}

.slds-form-element_readonly .slds-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.slds-form-element__static {
  font-size: 1rem;
}
