<div class="lwcc-navbar-header">
    <img src="{{ "/assets/images/lwcc_logo.png" | relative_url }}" alt="LWCC Logo" height="30px">
    <span class="align-middle h3">LWCC</span>
    <div class="lwcc-navbar-menu-button" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<ul class="lwcc-navbar-menu lwcc-navbar-responsive">
    <li>
        <a class="font-weight-bold" href="{{ "/" | relative_url }}">Getting Started</a>
    </li>
    <li>
        <a class="font-weight-bold" href="{{ "/docs/api.html" | relative_url }}">API Documentation</a>
        <ul>
            <li>
                <a href="{{ "/docs/api/chart.html" | relative_url }}">Chart</a>
            </li>
            <li>
                <a href="{{ "/docs/api/data.html" | relative_url }}">Data</a>
                <ul>
                    <li>
                        <a href="{{ "/docs/api/data/dataset.html" | relative_url }}">Dataset</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ "/docs/api/attributes.html" | relative_url }}">Attributes</a>
                <ul>
                    <li>
                        <a
                            href="{{ "/docs/api/attributes/animation.html" | relative_url }}">Animation</a>
                    </li>
                    <li>
                        <a
                            href="{{ "/docs/api/attributes/arc-configuration.html" | relative_url }}">Arc
                            configuration</a>
                    </li>
                    <li>
                        <a href="{{ "/docs/api/attributes/layout.html" | relative_url }}">Layout</a>
                    </li>
                    <li>
                        <a href="{{ "/docs/api/attributes/legend.html" | relative_url }}">Legend</a>
                    </li>
                    <li>
                        <a
                            href="{{ "/docs/api/attributes/line-configuration.html" | relative_url }}">Line
                            configuration</a>
                    </li>
                    <li>
                        <a
                            href="{{ "/docs/api/attributes/point-configuration.html" | relative_url }}">Point
                            configuration</a>
                    </li>
                    <li>
                        <a
                            href="{{ "/docs/api/attributes/rectangle-configuration.html" | relative_url }}">Rectangle
                            configuration</a>
                    </li>
                    <li>
                        <a href="{{ "/docs/api/attributes/title.html" | relative_url }}">Title</a>
                    </li>
                    <li>
                        <a href="{{ "/docs/api/attributes/tooltip.html" | relative_url }}">Tooltip</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ "/docs/api/axes.html" | relative_url }}">Axes</a>
                <ul>
                    <li>
                        <a href="{{ "/docs/api/axes/cartesian.html" | relative_url }}">Cartesian</a>
                        <ul>
                            <li>
                                <a
                                    href="{{ "/docs/api/axes/cartesian/category.html" | relative_url }}">Category</a>
                            </li>
                            <li>
                                <a
                                    href="{{ "/docs/api/axes/cartesian/linear.html" | relative_url }}">Linear</a>
                            </li>
                            <li>
                                <a
                                    href="{{ "/docs/api/axes/cartesian/time.html" | relative_url }}">Time</a>
                            </li>
                            <li>
                                <a
                                    href="{{ "/docs/api/axes/cartesian/logarithmic.html" | relative_url }}">Logarithmic</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ "/docs/api/axes/radial.html" | relative_url }}">Radial</a>
                        <ul>
                            <li>
                                <a
                                    href="{{ "/docs/api/axes/radial/linear.html" | relative_url }}">Linear</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a class="font-weight-bold" href="{{ "/docs/general.html" | relative_url }}">General</a>
        <ul>
            <li>
                <a href="{{ "/docs/general/samples/index.html" | relative_url }}">Samples</a>
            </li>
            <li>
                <a href="{{ "/docs/general/about.html" | relative_url }}">About the project</a>
            </li>
            <li>
                <a href="https://github.com/scolladon/lwcc/blob/master/CONTRIBUTING.md">Contributing</a>
            </li>
            <li>
                <a href="{{ "/docs/general/playground.html" | relative_url }}">Playground</a> <span class="slds-badge slds-theme_warning">Coming soon</span>
            </li>
        </ul>
    </li>
</ul>

<div class="lwcc-navbar-footer lwcc-navbar-responsive">
    <div>
        <img src="{{ "/assets/images/GitHub-Mark-32px.png" | relative_url }}" alt="GitHub logo">
        <span>View this Project on <a href="{{ site.github.repository_url }}">GitHub</a></span>
    </div>
    <p>Maitained by <a href="https://github.com/scolladon">scolladon</a>, <a href="https://github.com/victorgz">victorgz</a> and <a href="https://github.com/pmdartus">pmdartus</a></p>
</div>