/*! Lightning Design System 2.11.8 */
@charset "UTF-8";
.slds-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.slds-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  min-width: 280px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.slds-is-edited {
  background: #faffbd;
}
.slds-is-edited .slds-form-element__undo {
  top: -1.25rem;
  right: 0.25rem;
}
.slds-form-element__undo {
  position: absolute;
  top: 0;
  right: 0;
}
