/*! Lightning Design System 2.11.8 */
@charset "UTF-8";
.slds-email-composer {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.slds-email-composer .slds-rich-text-editor {
  border: 0;
  border-top: 1px solid #dddbda;
  border-radius: 0;
}
.slds-email-composer__combobox {
  padding-left: 3rem;
  border: 0;
  border-bottom: 1px solid #dddbda;
  border-radius: 0;
}
.slds-email-composer__combobox .slds-form-element__label {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slds-email-composer__combobox .slds-combobox_container,
.slds-email-composer__combobox .slds-input[value] {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.slds-email-composer__recipient {
  position: absolute;
  top: 0;
  right: 0.75rem;
}
