body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* NAVBAR MENU */
.lwcc-menu{
    height: 100%;
    min-width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #fafafa;
    color: #364149;
    font-size: 14px;
    padding-top: 75px;
}

.lwcc-menu ul{
  list-style-type: none;
  padding-left: 1rem;
}

.nav-link{
  padding: 0.3rem 0rem;
}

.lwcc-menu a{
  color: #364149 !important;
}

.lwcc-navbar-logo{
  border-bottom: 1px solid #dee2e6;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fafafa;
  padding: 1rem;
  width: 300px;
}

.lwc-navbar-github{
  border-top: 1px solid #dee2e6;
  background-color: #fafafa;
  padding: 1rem 1rem 0 1rem;
  max-width: 300px;
  margin-top: 1rem;
}

/* DOC CONTENT */

.lwcc-doc-content{
    margin-left: 300px;
    padding: 5rem 0;
}

h2{
  margin-top: 3rem;
}

/* Tables */
table{
  width: 100%;
}

table td, table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

/* Code blocks */
pre {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 1.2rem;
  background-color: #364149;
}
code {
  color: #e83e8c;
}
pre > code {
  color: #fff;
}

pre .nt{
  color: #e83e8c;
}

pre .na{
  color: #3ec6e8;
}

pre .s{
  color: #e8c379;
}