/*! Lightning Design System 2.11.8 */
@charset "UTF-8";
.slds-button-group-row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.slds-button-group-row .slds-button-group-item + .slds-button-group-item {
  margin-left: 0.25rem;
}
.slds-button-group-row .slds-button-group-item .slds-button {
  margin: 0;
}
