/*! Lightning Design System 2.11.8 */
@charset "UTF-8";
.slds-form-element_compound .slds-form-element__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.25rem;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}
.slds-form-element_compound .slds-form-element__row .slds-form-element__label {
  padding-top: 0;
}
.slds-form-element_compound .slds-form-element {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
