// Lightning Design System 2.11.8
// stylelint-disable selector-class-pattern
.docs-codeblock-example .slds-backdrop {
  position: absolute;
}

.docs-codeblock-example .slds-modal {
  position: absolute;
}
