/*! Lightning Design System 2.11.8 */
@charset "UTF-8";
.slds-visual-picker__text-check {
  position: absolute;
  top: -0.0625rem;
  right: 0.625rem;
  width: 0.5rem;
  height: 0.5rem;
}

.slds-visual-picker input[disabled] ~ label .slds-visual-picker__text-check {
  opacity: 0;
}
