/*! Lightning Design System 2.11.8 */
@charset "UTF-8";
.slds-modal_prompt .slds-modal__header {
  border-bottom: 0;
}
.slds-modal_prompt .slds-modal__content {
  padding-left: 2rem;
  padding-right: 2rem;
}
.slds-modal_prompt .slds-modal__footer {
  border-top: 0;
  text-align: center;
}
