/*! Lightning Design System 2.11.8 */
@charset "UTF-8";
.slds-welcome-mat_splash .slds-welcome-mat__content {
  height: 37.5rem;
}
.slds-welcome-mat_splash .slds-welcome-mat__info-content {
  max-width: 37.5rem;
}
.slds-welcome-mat_splash .slds-welcome-mat__info-title {
  font-size: 2rem;
}
