/*! Lightning Design System 2.11.8 */
@charset "UTF-8";
.slds-breadcrumb {
}
.slds-breadcrumb .slds-list__item,
.slds-breadcrumb__item {
  position: relative;
}
.slds-breadcrumb .slds-list__item:before,
.slds-breadcrumb__item:before {
  content: ">";
  position: absolute;
  left: -0.25rem;
}
.slds-breadcrumb .slds-list__item > a,
.slds-breadcrumb__item > a {
  display: block;
  padding: 0 0.5rem;
}
.slds-breadcrumb .slds-list__item > a:hover,
.slds-breadcrumb__item > a:hover {
  text-decoration: none;
}
.slds-breadcrumb .slds-list__item:first-child > a,
.slds-breadcrumb__item:first-child > a {
  padding-left: 0;
}
.slds-breadcrumb .slds-list__item:first-child:before,
.slds-breadcrumb__item:first-child:before {
  content: "";
}
.slds-breadcrumb .slds-dropdown-trigger {
  margin-right: 0.5rem;
}
