<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "assets/css/slds/styles/salesforce-lightning-design-system.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/lwcc.css" | relative_url }}">
  </head>
  <body>
    <header class="lwcc-menu">
    {% include navbar.html %}
    </header>
    <div class="lwcc-doc-content">
        <div class="container">
            {{ content}}
        </div>
    </div>
  </body>
</html>